<header class="header-mobile">
  <div class="header-mobile-wrapper">
    <div class="logo-mobile">
      <% include ../partials/logo.ejs %>
    </div>
    <div class="icon-bars">
      <span class="menu-label">MENU</span>
      <% include ../partials/svg/bars.ejs %>
    </div>
  </div>
</header>
