<% if (session.signedIn) { %>
<title>A16Z AI Playground</title>
<% } else { %>
  <title>Login Required</title>
<% } %>


<link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/js/ai.client.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script async defer src="https://buttons.github.io/buttons.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/xtra.css" />

<meta name="viewport" content="width=device-width, initial-scale=1">
