<div class="home-content">
	<div class="home-content-block">
		<h2>AI Playbook</h2>
		<img src="/images/ai-stock.jpg" class="ai-image">
		<p>Artificial Intelligence (AI) is a set of computer science techniques that, as Stanford professor <a href="https://twitter.com/AndrewYNg">Andrew Ng</a> is fond of saying, gives your software super powers.</p>
		<p>Building on our <a href="http://a16z.com/2016/06/10/ai-deep-learning-machines/">Primer on Artificial Intelligence</a>, this microsite is intended to help newcomers (both non-technical and technical) begin exploring what's possible with AI. We've met with hundreds of Fortune 500 / Global 2000 companies, startups, and government policy makers asking: "How do I get started with artificial intelligence?" and "What can I do with AI in my own product or company?"</p>
		<p>This site is designed as a resource for anyone asking those questions, complete with examples and sample code to help you get started.</p>
		<p>While there are dozens of excellent tutorials available on the web (once you've figured out what library or API you want to use  - we've listed a few of our favorites in the Reference section), we felt a pre-tutorial -- a “Chapter 0” if you will, was missing: something that would help you survey the landscape broadly; to give you a sense of what's possible; and help you think about how you might use artificial intelligence techniques to make your software smarter, your users happier, and your business better.</p>
		<p><i>While this playbook is written for a general audience, we've written some sample code and shared both the code and data sets on <a href="https://github.com/a16z/ai">GitHub</a> to encourage those who want to play with some software to do so. Please send us feedback at <a href="mailto:a16z-ai-playbook@a16z.com">a16z-ai-playbook@a16z.com</a></i></p>
		</div>
</div>
