<div class="home-content">
	<div class="home-content-block">
		<h2>The A16Z AI Playbook</h2>
		<img src="/images/ai-stock.jpg" class="ai-image">
		<p>Welcome! This playbook is an interactive companion to the <a href="http://a16z.com/2016/06/10/ai-deep-learning-machines/">a16z Primer on Artificial Intelligence</a> and is intended to show newcomers (both technical and non-technical) what's possible with AI.</p>
	</div>
	<div class="home-content-block">
		<h2>What Can AI Do?</h2>
		<p>Artificial Intelligence (AI) is a set of computer science techniques that gives your software super powers, like recognizing and cataloging specific objects in millions of pictures, tell you if people are delighted or frustrated with your product by reading and analyzing tens of thousands of reviews, or improve the efficiency of a production line in realtime by analyzing patterns and suggesting adjustments.</p>
		<p>While this playbook is written for a general audience, we've shared our code and data sets on <a href="https://github.com/a16z/ai">Github</a> to encourage others to experiment and share their work.</a></p>
		<br/>
		<p>Please send us feedback at <a href="mailto:a16z-ai-playbook@a16z.com">a16z-ai-playbook@a16z.com</a></p>
	</div>
</div>
