<h2>What is AI?</h2>
<p>Artificial Intelligence reflects the new approaches to analyze, classify, and react to the data that we can now capture, store, and process.</p>
<h2>What is AI capable of?</h2>
<p>The field of AI services and systems has grown dramatically in the last 18 months. We created this survey to help others understand at a high level the landscape of AI/ML services and what they can, and can't, do.</p>
<p>There are embedded examples throughout the various sections, but if you are a developer and want to get a leg up on experimenting you can explore and fork our github repo. For questions or comments, please don't hesitate to contact us.</p>
