<div class="home-content">
	<div class="home-content-block">
		<h2>What is AI?</h2>
		<img src="/images/ai-stock.jpg" class="ai-image">
		<p>Artificial Intelligence is a set of computer science techniques that gives your software super powers.</p>
		<p>This cookbook is designed as a follow up to the <a href="http://a16z.com/2016/06/10/ai-deep-learning-machines/">a16z Primer on Artificial Intelligence</a> and is designed for newcomers to AI and machine learning to show what's possible and encourage you to get into the kitchen.</p>
	</div>
	<div class="home-content-block">
		<h2>What Can AI Do?</h2>
		<p>AI software can recognize the objects inside pictures, tell you if people are delighted or frustrated with your product by reading reviews, automatically drive cars from point A to Point B.</p>
		<p>We walk through some examples. While this cookbook is for everyone, we've provided our code and data sets on <a href="https://github.com/a16z/ai">Github</a> for developers.</a> Bon appetit!</p>
	</div>
</div>
