
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li <% if (activeRoute == "" || activeRoute == "/") { %> class="active" <% } %> >
        <!-- <a href="/"><span class="glyphicon glyphicon-home"></span></a> -->

      </li>
    </ul>
        <p class="navbar-text" style="margin-left: 96px;">The <a href="http://a16z.com" target="_blank">a16z</a> AI Survey</p>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
