<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li <% if (activeRoute == "" || activeRoute == "/") { %> class="active" <% } %> >
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li <% if (activeRoute == "about") { %> class="active" <% } %> >
        <a href="/about"><span class="glyphicon glyphicon-user"></span> About</a>

      </li>
      <% if (session.signedIn) { %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-info-sign"></span> Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Intro</li>
            <li><a href="/docs/intro/survey">About the Survey</a></li>
            <li><a href="/docs/intro/ai">Introduction to AI/ML</a></li>
            <li><a href="/docs/intro/survey-parameters">Survey Parameters</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Guides</li>
            <li><a href="/docs/guides/nlp">Natural Language Processing</a></li>
            <li><a href="/docs/guides/vision">Vision</a></li>
            <li><a href="/docs/guides/patterns">Pattern Recognition</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Reference</li>
            <li><a href="/docs/reference/papers">Papers and Research</a></li>
            <li><a href="/docs/reference/datasets">Datasets</a></li>
            <li><a href="/docs/reference/links">Useful links</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-book"></span> Sign out</a>
      </li>
    </ul>
    <% } %>

  </div>
</nav>
