<nav id="sidebar">
	<div id="close-menu">
		<% include ../partials/svg/close.ejs %>
	</div>
	<div class="logo-wrapper">
		<% include ../partials/logo.ejs %>
	</div>
	<%# @todo: Consider refactoring. Separate data for links in a JSON. Loop over links using ejs %>
	<div class="sidebar-nav">
		<h1>Intro</h1>
		<ul>
			<li><a <% if (bodyClass === 'docs-intro-getting-started') { %> class="active" <% } %> href="/docs/intro/getting-started">About This Site</a></li>
			<li><a <% if (bodyClass === 'docs-intro-survey-goals') { %> class="active" <% } %> href="/docs/intro/survey-goals">What Can You Do with AI?</a></li>
			<li><a <% if (bodyClass === 'docs-intro-survey-parameters') { %> class="active" <% } %> href="/docs/intro/survey-parameters">How We Picked Our Examples</a></li>
		</ul>
		<h1>Guides</h1>
		<ul>
			<li><a <% if (bodyClass === 'docs-guides-ai') { %> class="active" <% } %> href="/docs/guides/ai">A Little History</a></li>
			<li><a <% if (bodyClass === 'docs-guides-ai-terms') { %> class="active" <% } %> href="/docs/guides/ai-terms">Defining AI Terms</a></li>
			<li><a <% if (bodyClass === 'docs-guides-ai-using') { %> class="active" <% } %> href="/docs/guides/ai-using">Giving Your Software AI Superpowers</a></li>
			<li><a <% if (bodyClass === 'docs-guides-nlp') { %> class="active" <% } %> href="/docs/guides/nlp">Natural Language Processing</a></li>
			<li><a <% if (bodyClass === 'docs-guides-vision') { %> class="active" <% } %> href="/docs/guides/vision">Computer Vision</a></li>
			<li><a <% if (bodyClass === 'docs-guides-dl') { %> class="active" <% } %> href="/docs/guides/dl">Training Your Own Models</a></li>
			<li><a <% if (bodyClass === 'docs-guides-dl-architectures') { %> class="active" <% } %> href="/docs/guides/dl-architectures">Neural Network Architectures</a></li>
			<li><a <% if (bodyClass === 'docs-guides-dl-learning') { %> class="active" <% } %> href="/docs/guides/dl-learning">Ways In Which Machines Learn</a></li>
			<li><a <% if (bodyClass === 'docs-guides-dl-start') { %> class="active" <% } %> href="/docs/guides/dl-start">Code: (Re-)Training a Model</a></li>
			<li><a <% if (bodyClass === 'docs-guides-dl-app') { %> class="active" <% } %> href="/docs/guides/dl-app">Code: Adding AI to Your Mobile App</a></li>
		</ul>
		<h1>Where to Next?</h1>
		<ul>
			<li><a <% if (bodyClass === 'docs-reference-software') { %> class="active" <% } %> href="/docs/reference/software">Software and Services</a></li>
			<li><a <% if (bodyClass === 'docs-reference-datasets') { %> class="active" <% } %> href="/docs/reference/datasets">Datasets</a></li>
			<li><a <% if (bodyClass === 'docs-reference-links') { %> class="active" <% } %> href="/docs/reference/links">Videos, Tutorials, and Blogs</a></li>
			<li><a <% if (bodyClass === 'docs-reference-bibliography') { %> class="active" <% } %> href="/docs/reference/bibliography">Books, Papers, and Research</a></li>
		</ul>
	</div>
</nav>
