<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
  </div>
</div>
<div class="container">
    <h1>Datasets</h1>

<P>
This list of datasets has been compiled for the purposes of this survey. You can download <a href="/js/datasets.json" download target="_blank">the data in JSON format</a> under an MIT License (//TODO... ?).
</p>

<h2>Image Datasets</h2>
<div id="imageDataSets" class="row">
</div>
<h2>Text Datasets</h2>

<div id="textDataSets" class="row">
</div>
<script>

    function fillDataSet(dataSets, divID, type) {


              var imageSetsDiv = $(divID); //eg "#imageDataSets"
              var finalHTML = "";
              for (i in dataSets) {
                var dset = dataSets[i];
                if (dset.type == type) { //eg 'image' or 'text' or 'audio' or 'video' or 'mixed'
                  var cardHTML = "<div class='card card-block card-border'>";
                  cardHTML += "<h4 class='card-title'>"+dset.name+"</h4>";
                  cardHTML += "<h6 class='card-subtitle text-muted'>"+dset.organization+"</h6>";

                  cardHTML += "<p class='card-text'>"+dset.description+"</p>";
                  cardHTML += "<a href='#' class='card-link'>"+dset.url+"</a>";
                  cardHTML += "</div>";
                  finalHTML += cardHTML;
                }
              }

              imageSetsDiv.html(finalHTML);
    }

    $(document).ready(function() {

      var datasets = $.ajax({
          dataType: "json",
          url: "/js/datasets.json"
      })
      .done(function(data) {

        var dataSets = data.dataSets;

        fillDataSet(dataSets, "#imageDataSets", "image");
        fillDataSet(dataSets, "#textDataSets", "text");

        // var imageSetsDiv = $("#imageDataSets");
        // var finalHTML = "";
        // for (i in dataSets) {
        //   var dset = dataSets[i];
        //
        //   var cardHTML = "<div class='card card-block card-border'>";
        //   cardHTML += "<h4 class='card-title'>"+dset.name+"</h4>";
        //   cardHTML += "<h6 class='card-subtitle text-muted'>"+dset.organization+"</h6>";
        //
        //   cardHTML += "<p class='card-text'>"+dset.description+"</p>";
        //   cardHTML += "<a href='#' class='card-link'>"+dset.url+"</a>";
        //   cardHTML += "</div>";
        //   finalHTML += cardHTML;
        // }
        //
        // imageSetsDiv.html(finalHTML);

      })
      .fail(function(err) {
        console.log( "ERROR: --- \n" +JSON.stringify(err));
      });
    });

    </script>



</div>


</body>
</html>
