<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>
  <% include ../../../partials/banner.ejs %>

<div class="container">
    <h1>Links</h1>
    <p></p>
    <ul>
      <li><a href="http://a16z.com/2016/06/10/ai-deep-learning-machines/">AI And Deep Learning</a></li>
      <li><a href="http://a16z.com/2016/06/29/feifei-li-a16z-professor-in-residence/">When Humanity Meets AI</a></li>
      <li><a href="http://ben-evans.com/benedictevans/2016/6/23/ai-apple-and-google">AI, Apple and Google</a></li>
    </ul>


</div>


</body>
</html>
