div.bibinfo {
    width: 50% !important;
    max-width: 685px !important;
    left: 400px !important;
}

pre {
    background-color: #fff !important;
}

@media (max-width: 1024px) {
    div.bibinfo {
        left: 10% !important;
        width: 80% !important;
        max-width: none !important;
    }
}

.bibclose {
     line-height: 4px !important;
     font-size: 16px !important;
}

.undefined {
    color: #4b4f54 !important;
}
