.content-wrapper {
	animation: contentfade 1s;

	@keyframes contentfade {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes contentfade {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes contentfade {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	@media #{$breakpoint-tablet} {
		margin: 0 auto;
		max-width: 80%;
	}

	p,
	ul {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2;

		@media #{$breakpoint-mobile} {
			font-size: 1em;
		}
	}

	h1,h2 {
		font-size: 2em;
		margin: 35px 0 0 0;

		@media #{$breakpoint-mobile} {
			font-size: 1.4em;
		}
	}

	a {
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: $color-orange;
			text-decoration: underline;
		}
	}
}


.breadcrumb {
	border-bottom: $border-primary;
	border-top: $border-primary;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 45px 0;
	padding: 10px 0;

	@media #{$breakpoint-mobile} {
		flex-wrap: wrap;
	}
}

.breadcrumb-item {
	display: inline;

	a {
		align-items: center;
		color: $color-dark;
		display: flex;
		text-decoration: none;

		&:hover {
			color: $color-orange;
		}
	}
}

.breadcrumb-name {
	line-height: 0;
	padding: 0 5px;
}

.breadcrumb-item--last {
	@media #{$breakpoint-mobile} {
		margin-left: auto;
	}
}

blockquote {
	border-left: 4px solid $color-grey;
	margin: 0;
	padding-left: 20px;
}


.home-content {
	p {
		font-size: 1.6rem;
		line-height: 1.4;

		@media #{$breakpoint-mobile} {
			font-size: 1.2rem;
		}
	}
}

.home-content-block {
	margin-bottom: 70px;
}

.ai-image {
	width: 200px;
	border-radius: 50%;
	float: right;
	padding: 0 10px;

	@media #{$breakpoint-mobile} {
		width: 25%;
	}
}
