#sidebar {
	background-color: $color-grey-light;
	border-right: $border-primary;
	color: $color-dark;
	display: none;
	height: 100%;
	padding: 15px 30px 15px 30px;
	position: fixed;
	top: 0;
	width: $sidebar-width;
	z-index: 9999;

	@media #{$breakpoint-desktop} {
		display: block;
		left: 0;
	}

	@media #{$breakpoint-tablet-max} {
		bottom: 0;
		display: block;
		height: 100%;
		position: fixed;
		right: -$sidebar-width;
		transition: all .5s ease;
	}

	&.active {
		right: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;

		&:not(:last-of-type) {
			&:after {
				border-bottom: $border-primary;
				content: "";
				display: block;
				margin-top: 15px;
				width: 30px;
			}
		}
	}

	h1 {
		font-size: 24px;
		font-weight: 700;
	}

	a {
		color: $color-dark;
		text-decoration: none;

		&:hover,
		&.active {
			color: $color-orange;
		}
	}

	li {
		font-size: 14px;
		padding-bottom: 8px;
	}

	.sidebar-nav {
		height: 95%;
		overflow-y: auto;
	}
}

.logo-wrapper {
	display: none;

	@media #{$breakpoint-desktop} {
		display: block;
		margin-bottom: 45px;
	}
}

#close-menu {
	cursor: pointer;
	height: 27px;
	margin-left: auto;
	width: 27px;

	@media #{$breakpoint-desktop} {
		display: none;
	}
}
