<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
  </div>
</div>
<div class="container">
    <h1>Pattern Recognition</h1>
    <p>Recognizing patterns != understanding patterns. A neural net can be
      'taught' to recognize a cat on a JPEG. This is not the same as knowing
      what a cat is, or even being able to recognize a cat on a different
      file format. :)</p>
      <p>Pattern recognition deals with the classification and correlation
        of data, irrespective (as opposed to regardless) of its meaning.</p>
        <p>Classification can occur based on previously defined categories
          presented to the computer system as a <i>training set</i>, in which
          case it is called <i>supervised learning</i>. If no training set
          is provided it's called <i>unsupervised learning</i> and the system
          defines patterns by itself (the <i>meaning<i> of those pattern is
            an entirely different matter.)</p>
      <p>There are many types of algorithms that can be used to derive
        patterns from data: probabilistic/statistical, clustering/structural,
        or neural networks, genetic algorithms, regression, etc. [TODO verify categories/expand]</p>

</div>


</body>
</html>
