<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
  </div>
</div>
<div class="container">
    <h1>Vision/Perception</h1>
    <p>While we could define AI areas for the different senses it
      is <i>vision</i> that is a primary area of focus. Sound (sound in
      general, not speech), touch, smell and taste all have seen some work <br>[TODO REFERENCES]<br>
    but it's vision that has been a key rea of focus for a long time. The idea is to extract/create symbols from the raw visual data and then
    use those symbols to make decisions, take actions or produce information.</p>
    <p>Computer vision tasks include acquiring, processing, analyzing images in
       digital form. While we (humans) don't distinguish between
      still and moving images, the reality of digital representation dictates that
      a system that is good at one may not be good at the other.
      Sub-domains of computer vision include scene reconstruction,
      motion/event detection, tracking, object recognition, and image restoration
      among many others.
      </p>


</div>


</body>
</html>
