<% var bodyClass = bodyClass %>
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="<%= bodyClass %>">

  <% include ../partials/login.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
    <h1>Contact us</h1>
    <p>Email, twitter, signal fire, others?</p>
</div>


</body>
</html>
