<% var bodyClass = bodyClass %>
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="<%= bodyClass %>">

  <% include ../partials/signed-out-nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/404.png">
    </a>
    <p>Oops. Couldn't find that page. Or... something went wrong.</p><p>Try going back <a href="/">Home</a>.</p>
  </div>
</div>

</body>
</html>
