<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
    <h1>Welcome to the A16Z AI playground</h1>
    <p>Construction in progress!</p>
    <p>
    <a type="button" class="btn btn-lg btn-default" href="/docs/intro/getting-started"><span class="glyphicon glyphicon-flash"></span> Getting Started</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/a16z/ai"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </p>

<p>
  <b>Sentiment Analysis</b>
  <br>
  <a type="button" class="btn btn-lg btn-default" href="/test/twitter/sentiment?screenName=withfries2&checkMentions=false"><span class="glyphicon glyphicon-flash"></span> Twitter</a>
  <a type="button" class="btn btn-lg btn-default" href="/test/phrase/sentiment"><span class="glyphicon glyphicon-flash"></span> Phrase</a>
</p>
<p>
  <b>Image Analysis</b>
  <br>
  <a type="button" class="btn btn-lg btn-default" href="/test/image/simple"><span class="glyphicon glyphicon-flash"></span> Multi-Feature Analysis - Fixed Image</a>
  <br><br><a type="button" class="btn btn-lg btn-default" href="/test/image/upload"><span class="glyphicon glyphicon-flash"></span> Multi-Feature Analysis - Upload Image</a>

</p>

  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    If you're not sure where to go next, just go on over to the <a href="/docs/intro/getting-started" class="alert-link">Getting Started</a> doc.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Documentation</h3>
      <p>Start with the introductory material <a href="/docs/intro/survey">about the survey</a> and
      <a href="/docs/intro/ai">on AI/ML</a>. Then checkout the guides for various areas, such as
      <a href="/docs/guides/nlp">Natural Language Processing</a>, <a href="/docs/guides/vision">Vision</a>, or
      <a href="/docs/guides/patterns">Pattern Recognition</a>.

      <p>You can see the examples running through links on this page, or you can check out the code via our <a href="https://github.com/a16z/ai">github repo</a>.</p>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> More information</h3>
      <p>Please see the sections for <a href="/docs/reference/papers">Papers and Research</a> and <a href="/docs/reference/links">Useful links</a></p>
    </div>
  </div> <!-- row -->
   <!-- <div class="alert alert-info text-center" role="alert">
    We really recommend you check out the getting started guide /docs/intro/getting-started
  </div> -->
</div>


</body>
</html>
