<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/sidebar.ejs %>
  <% include ../partials/header.ejs %>
  <div class="content-wrapper">
    <% include ../partials/home.ejs %>
    <% include ../partials/banner.ejs %>
    <% include ../partials/login.ejs %>
    <% include ../partials/footer.ejs %>
  </div>
</div>
</div>


</body>
</html>
