<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>




</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="alert alert-info text-right" role="alert">
    <div style="display: flex;">
    <div style="flex: 1;">
    <a class="github-button" href="https://github.com/a16z" data-style="mega" data-count-href="/a16z/followers" data-count-api="/users/a16z#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @a16z on GitHub">Follow @a16z on GitHub</a>
    <a class="github-button" href="https://github.com/a16z/ai/fork" data-style="mega" data-count-href="/a16z/ai/network" data-count-api="/repos/a16z/ai#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork a16z/ai on GitHub">Fork a16z/ai on GitHub</a>    <!--  navigation -->
  </div>
</div>

</div>
<div class="jumbotron">
  <div class="container">
      <div class="pull-right" style="border: 1px solid #CCC; margin-left: 20px; padding: 10px;">
               Not sure where to begin? <a href="/docs/intro/getting-started">Start here</a>.
               <br/>
              <li>Intro</li>
                <ul>
                    <li><a href="/docs/intro/survey-goals">Survey Goals</a></li>
                    <li><a href="/docs/intro/survey-parameters">Survey Parameters</a></li>
                    <li><a href="/docs/intro/ai">Introduction to AI/ML</a></li>
                </ul>
                    <li>Guides</li>
                <ul>
                    <li><a href="/docs/guides/nlp">Natural Language Processing</a></li>
                    <li><a href="/docs/guides/vision">Vision</a></li>
                    <li><a href="/docs/guides/patterns">Pattern Recognition</a></li>
                </ul>
                    <li>Reference</li>
                <ul>
                    <li><a href="/docs/reference/where-to-next">Where to Next?</a></li>
                    <li><a href="/docs/reference/datasets">Datasets</a></li>
                    <li><a href="/docs/reference/links">Useful links</a></li>
                    <li><a href="/docs/reference/bibliography">Papers and Research</a></li>
                </ul>


      </div>
      <h2>The 2016 <a href="http://a16z.com" target="_blank">a16z</a> AI Survey</h2>

      <p>Start with the introductory material <a href="/docs/intro/survey-goals">about the survey</a> and
      <a href="/docs/intro/ai">on AI/ML</a>. Then checkout the guides for various areas, such as
      <a href="/docs/guides/nlp">Natural Language Processing</a>, <a href="/docs/guides/vision">Vision</a>, or
      <a href="/docs/guides/patterns">Pattern Recognition</a>.

      <p>You can see live examples throughout the various sections, and you can check out the code via our <a href="https://github.com/a16z/ai">github repo</a>.</p>


  </div>
</div>
<div class="container">



        <div class="row">

            <div class="col-md-8"><h3>Natural Language Processing (NLP)</h3>
                <P>Key areas of NLP include understanding/processing language, translation, and language generation.</p>
                <P>You can start by <a href="/docs/guides/nlp">reading an introduction</a> to this topic, or take a look at some of the samples we've implemented using commercial APIs:
                <ul>
                  <li><a href="/test/phrase/sentiment-analysis">Sentiment Analysis</a></li>
                  <li><a href="/test/phrase/entity-analysis">Entity Extraction</a></li>
                  <li><a href="/test/phrase/language-analysis">Language Detection</a></li>

                    </ul></p>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6"><h3>Patterns and Classification</h3>
                    <P>Pattern recognition deals with the classification and correlation of data, irrespective (as opposed to regardless) of its meaning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6"><h3>Vision</h3>
                    <P>Computer vision tasks include processing and analyzing images in digital form.</p>
                      <P>You can start by <a href="/docs/guides/vision">reading an introduction</a> to this topic, or take a look at some of the samples we've implemented using commercial APIs:
                      <ul>
                          <li><a href="/test/image/upload">Multi-Feature Analysis (Upload Image)</a></li>
                          </ul></p>
                      </div>
                  </div>


        <div class="row">
            <div class="col-md-6"><h3>Deep Learning</h3>
            <p>From <a href="https://en.wikipedia.org/wiki/Deep_learning">Wikipedia</a>:
                    <blockquote>Deep learning (also known as deep structured learning, hierarchical learning or deep machine learning) is a branch of machine learning based on a set of algorithms that attempt to model high level abstractions in data by using a deep graph with multiple processing layers, composed of multiple linear and non-linear transformations</blockquote>
            </p>
        </div>

        </div>


  <div class="alert alert-info text-center" role="alert">
    If you're not sure where to go next, just head on over to the <a href="/docs/intro/getting-started" class="alert-link">Getting Started</a> doc.
  </div>
  <hr>
  <div class="row">

    <div class="col-md-6">
      <h3>More information</h3>
      <p>For additional information, please see the sections for <a href="/docs/reference/papers">Papers and Research</a> and <a href="/docs/reference/links">Useful links</a></p>
    </div>
  </div>
</div>


</body>
</html>
