<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <nav id="sidebar">
    <div>
      <h1>Intro</h1>
      <ul>
        <li><a href="/docs/intro/getting-started">Getting Started</a></li>
        <li><a href="/docs/intro/survey-goals">Survey Goals</a></li>
        <li><a href="/docs/intro/survey-parameters">Survey Parameters</a></li>
      </ul>
      <h1>Guides</h1>
      <ul>
        <li><a href="/docs/guides/ai">Introduction</a></li>
        <li><a href="/docs/guides/nlp">Natural Language Processing</a></li>
        <li><a href="/docs/guides/vision">Vision</a></li>
        <li><a href="/docs/guides/patterns">Pattern Recognition</a></li>
        <li><a href="/docs/guides/on-apis">On APIs: Packaging and Complexity</a></li>
        <li><a href="/docs/guides/dl">Deep Learning</a></li>
        <li><a href="/docs/guides/dl-supervised">Supervised Learning</a></li>
        <li><a href="/docs/guides/dl-unsupervised">Unsupervised Learning</a></li>
        <li><a href="/docs/guides/dl-start">Deep Learning: Retraining Comparison</a></li>
      </ul>
      <h1>Reference</h1>
      <ul>
        <li><a href="/docs/reference/where-to-next">Where to Next?</a></li>
        <li><a href="/docs/reference/datasets">Datasets</a></li>
        <li><a href="/docs/reference/links">Talks, Videos and Podcasts</a></li>
        <li><a href="/docs/reference/bibliography">Papers and Research</a></li>
      </ul>
    </div>
  </nav>

  
  <% include ../partials/nav.ejs %>
  <div class="alert alert-info text-right" role="alert">
    <div style="display: flex;">
    <div style="flex: 1;">
    <a class="github-button" href="https://github.com/a16z" data-style="mega" data-count-href="/a16z/followers" data-count-api="/users/a16z#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @a16z on GitHub">Follow @a16z on GitHub</a>
    <a class="github-button" href="https://github.com/a16z/ai/fork" data-style="mega" data-count-href="/a16z/ai/network" data-count-api="/repos/a16z/ai#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork a16z/ai on GitHub">Fork a16z/ai on GitHub</a>    <!--  navigation -->
  </div>
</div>

</div>

<!-- <div class="jumbotron">
  <div class="container">

      <h2>The <a href="http://a16z.com" target="_blank">a16z</a> AI Survey</h2>
      <img src="/images/wall-e-rubik.jpg" width="200" class="pull-right" style="width: 180px; border-radius: 50%;"/>
      <p>The field of AI services and systems has grown dramatically in the last 18 months. We created this survey to help others understand at a high level the landscape of AI/ML services and what they can, and can't, do.</p>

      <p>There are embedded examples throughout the various sections, but if you are a developer and want to get a leg up on experimenting you can explore and fork our <a href="https://github.com/a16z/ai">github repo</a>. For questions or comments, please don't hesitate to <a href="/contact" target="_blank">contact us</a>.</p>

  </div>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6"><h3>Table of Contents</h3>
            <div><!--  class="pull-right" style="border: 1px solid #CCC; margin-left: 20px; padding: 10px;" -->

                    <!-- <p><b>Intro</b>
                      <ul>
                          <li><a href="/docs/intro/getting-started">Getting Started</a></li>
                          <li><a href="/docs/intro/survey-goals">Survey Goals</a></li>
                          <li><a href="/docs/intro/survey-parameters">Survey Parameters</a></li>
                      </ul>
                  </p>
                          <p><b>Guides</b>
                      <ul>
                          <li><a href="/docs/guides/ai">Introduction</a></li>
                          <li><a href="/docs/guides/nlp">Natural Language Processing</a></li>
                          <li><a href="/docs/guides/vision">Vision</a></li>
                          <li><a href="/docs/guides/patterns">Pattern Recognition</a></li>
                          <li><a href="/docs/guides/on-apis">On APIs: Packaging and Complexity</a></li>
                          <li><a href="/docs/guides/dl">Deep Learning</a></li>
                          <li><a href="/docs/guides/dl-supervised">Supervised Learning</a></li>
                          <li><a href="/docs/guides/dl-unsupervised">Unsupervised Learning</a></li>
                          <li><a href="/docs/guides/dl-start">Deep Learning: Retraining Comparison</a></li>

                      </ul>
                      </p>
                      <p>
                          <b>Reference</b>
                          <ul>
                              <li><a href="/docs/reference/where-to-next">Where to Next?</a></li>
                              <li><a href="/docs/reference/datasets">Datasets</a></li>
                              <li><a href="/docs/reference/links">Talks, Videos and Podcasts</a></li>
                              <li><a href="/docs/reference/bibliography">Papers and Research</a></li>
                          </ul>
                      </p>


            </div>
        </div>
    </div>

    <hr>


  <div class="alert alert-info text-center" role="alert">
    If you're not sure where to go next, just head on over to the <a href="/docs/intro/getting-started" class="alert-link">Getting Started</a> doc.
  </div>

</div> -->


</body>
</html>
