<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>
<!--
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
  </div>
</div> -->
<% include ../../../partials/banner.ejs %>

<div class="container">
    <h1>AI Intro</h1>
    <p></p>


</div>


</body>
</html>
