<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>
<% include ../../../partials/banner.ejs %>

<div class="container">

    <%- markdownContent %>

</div>


</body>
</html>
