<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
  </div>
</div>
<div class="container">
    <h1>A16Z AI Survey: Getting started</h1>
    <p></p>
</div>


</body>
</html>
