<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>
  <% include ../../../partials/banner.ejs %>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">&larr; Home</a></li>
    <li class="breadcrumb-item pull-right"><a href="/">Survey Parameters &rarr;</a></li>
  </ol>

<div class="container">

    <%- markdownContent %>
    
</div>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">&larr; Home</a></li>
  <li class="breadcrumb-item pull-right"><a href="/">Survey Parameters &rarr;</a></li>
</ol>

</body>
</html>
