<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/main-image.png">
    </a>
  </div>
</div>
<div class="container">
    <h1>A16Z AI Survey Goals</h1>
    <p>This is a super secret project intended to figure out whether the following scenarios are possible. Also, we're doing a survey on the AI landscape.</p>
</div>


</body>
</html>
