<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/header.ejs %>
</head>

<body>

  <% include ../../../partials/nav.ejs %>
  <% include ../../../partials/banner.ejs %>


<div class="container">
    <h1>Survey Parameters</h1>
    <p></p>


</div>


</body>
</html>
